body{
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100%;
}
img {
    left: 50px;
    border-radius:15%;
    -moz-border-radius:15%;
    -webkit-border-radius:15%;
}